body{
    background: #778E9B;
}

.contenedor{
    margin-top: 2rem;
}
.opcion, .opcion1, .contenido{
    background: #627A8F;
    min-height: 800px;
    padding: 2rem;
    border-radius: 10px;
}

h2{
    text-align: center;
}

.act{
    margin-top: 7rem;
}

.input{
    width: 50%;
    display: inline;
}

.h3{
    font-size: 1.75rem;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.img{
    cursor: pointer;
}  

.jugadoresList{
    background-color: rgb(92 100 157 / 57%);
    border-radius: 10px;
    padding: 0px 50px 50px;
    display: table;
}

.foto{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    margin-left: 5px;
    margin:0px auto;
}

.letras{
    font-size: 1.5rem;
    display: table-cell;
    vertical-align: middle;
}

.col-md-3 .jugador{
    font-size: 1.3rem;
}

.jugador{
    display: inline-block;
    margin-left: 10px;
}

.sobre{
    z-index: 2;
}

.sobreIND{
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 200px;
    min-width: 400px;
    background:#49618f;
    border-radius: 10px;
}

.padin{
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pintar{
    background:#49618f;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.winer{
    font-size: 120px;
}

 .win{
    background-color: #4242ad;
    text-align: center;
    cursor: pointer;
    min-height: 250px;
 }
.ele1{
    background-color: #4242ad;
    text-align: center;
    cursor: pointer;
    min-height: 250px;
    align-content: center;
    align-items: center;
  display: flex;
  justify-content: center;
}

.ele11{
    background-color: #4242ad;
    text-align: center;
    min-height: 250px;
    align-content: center;
    align-items: center;
  display: flex;
  justify-content: center;
}

.ele2{
    background-color: #9b3838;
    text-align: center;
    cursor: pointer;
    min-height: 250px;
    align-content: center;
    align-items: center;
  display: flex;
  justify-content: center;
}
.pintar2{
    background:#49618f;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader {
    width: 70px;
    height: 70px;
    border: 10px solid #eee;
    border-top: 10px solid #666;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    display: grid;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
    
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.padre{
    position: relative;
    margin-top: 12%;
}  

.errorX{
    position: absolute;
    display: grid;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
}

.turno{
    background-color: rgb(139, 78, 27);
    margin-top: -2rem;
    max-height: 4rem;
    border-radius: 0px 0px 10px 10px;

}

.pregunta .h2{
    background-color: #d1c5a3;
    border-radius: 0px 0px 10px 10px;
    margin-top: -2rem;

}

.activo{
    background-color: rgb(139, 78, 27);
    border-radius: 0px 10px 10px 0px;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    margin-left: -2rem;
    
}

.activoI{
    background-color: rgb(201 215 71);
    border-radius: 40px;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    float: right;
    
}

.inactivo{
    display: none;
}

.padreJ{
    max-height: 100px;
}

.tabla{
    margin-top:15px;
}

.flotante2{
    z-index: 2;
    position: absolute;
    top: 49%;
    left: 28%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    background:#49618f;
    border-radius: 10px;
}

.bA{
    margin-top: 25%;
}

@media (max-width:1200px){
    .flotante2, .pintar{
        max-height: 250px;
        overflow: auto;
    }
}

.tarjeta{
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    background-color: #7d3f85;
}

.imageT{
    max-width: 60%;
    border-radius: 40%;
}

.margenT{
    margin-top: 8rem;
}

.cerrar{
    font-size: 40px;
    cursor: pointer;
    float: right;
    display: inline-block;
}

.imagenE{
    max-width: 50px;
    cursor: pointer;
}

.activoP{
    box-shadow: 0px 0px 10px rgb(196, 65, 65);
}

.form1, .pintar, .elecc{
    display:none;
}

