body{
    background: #778E9B;
}

.contenedor{
    margin-top: 2rem;
}
.opcion, .opcion1{
    background: #627A8F;
    min-height: 40rem;
    
    padding: 2rem;
}

h2{
    text-align: center;
}

.act{
    margin-top: 7rem;
}

.input{
    width: 50%;
    display: inline;
}

.h3{
    font-size: 1.75rem;
}

.elements .ab{
    opacity: 0;
}

.elements:hover .ab{
    transition: 0.5s;
    opacity: 1;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }